<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @teacher.grade %>
</p>

<p>
  <strong>Section:</strong>
  <%= @teacher.section_id %>
</p>

<p>
  <strong>Room:</strong>
  <%= @teacher.room %>
</p>

<p>
  <strong>Class type:</strong>
  <%= @teacher.class_type %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
