<div>
  <div class="uk-card uk-card-primary uk-card-body">
    <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>
      <div>
        <h3 class="uk-card-title"><%= @teacher.name %> - Grade <%= @teacher.grade %></h3>
        <%= link_to 'Edit Teacher Info.', edit_teacher_path(@teacher) %> |
        <%= link_to 'Back', teachers_path %>
      </div>
      <div>
        <p>
          <strong>Section:</strong>
          <%= @teacher.section_id %>
        </p>

        <p>
          <strong>Room:</strong>
          <%= @teacher.room %>
        </p>

        <p>
          <strong>Class type:</strong>
          <%= @teacher.class_type %>
        </p>
      </div>
      <div><h1 class="uk-position-center"><%= @teacher.membership_percentage.to_i %>% Membership</h1></div>
    </div>
  </div>
</div>

<div class="uk-margin-top uk-container">
  <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #membership-modal"><span uk-icon="user"></span> Add Membership</button>

  <!-- This is the modal -->
  <div id="membership-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <h2 class="uk-modal-title">Create New PTA Membershp</h2>
      <form class="uk-form-stacked">
        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-text">First Name</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="text" placeholder="First Name">
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-text">Last Name</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="text" placeholder="Last Name">
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-text">Email</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="text" placeholder="Email Address">
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-text">Phone</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="text" placeholder="Phone Number">
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-select">Select Membership Type</label>
          <div class="uk-form-controls">
            <select class="uk-select" id="form-stacked-select">
            <option>Student</option>
            <option>Teacher</option>
            </select>
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-select">Select Related</label>
          <div class="uk-form-controls">
            <select class="uk-select" id="form-stacked-select">
            <option>Student Name</option>
            <option>Other Student</option>
            </select>
          </div>
        </div>
      </form>
      <p class="uk-text-right">
          <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
          <button class="uk-button uk-button-primary" type="button">Save</button>
      </p>
    </div>
  </div>
</div>

<div class="uk-container">
  <p id="notice"><%= notice %></p>
  <div>
    <h3>Class Roster</h3>
      <div>
        <table class="uk-table uk-table-divider uk-table-hover uk-table-middle">
          <thead>
            <tr>
              <th class="uk-table-shrink">Memberships</th>
              <th>Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @teacher.students.each do |student| %>
              <tr>
                <td>
                  <% if student.memberships.any? %>
                    <span class="uk-margin-small-right" uk-icon="check"></span>
                  <% else %>
                    <span></span>
                  <% end %>
                </td>
                <td>
                  <%= student.first_name %>
                  <%= student.middle_name %>
                  <%= student.last_name %>
                </td>
                <td><%= link_to 'View Student', student, class: "uk-button uk-button-default"%></td>
            <% end %>
            </tr>
          </tbody>
      </div>
  </div>
</div>
