<div class="uk-card uk-card-primary uk-card-body uk-width-1-2@m uk-position-center">
    <h3 class="uk-card-title uk-text-center">Log In</h3>
    <div class="uk-fieldset">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field uk-margin-top">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "uk-input" %>
        </div>

        <div class="field uk-margin-top">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: "uk-input" %>
        </div>

        <div class="actions">
          <%= f.submit "Log in", class: "uk-button uk-button-default uk-margin-top" %>
        </div>
      <% end %>
      <div class="uk-margin-top">
        <%= render "devise/shared/links" %>
      </div>
    </div>
</div>
