<!DOCTYPE html>
<html>
  <head>
    <title>PTAApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.12/css/uikit.min.css" />

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.12/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.12/js/uikit-icons.min.js"></script>
  </head>

  <body>
    <nav class="uk-navbar-container" uk-navbar>
      <div class="uk-navbar-left">
        <h2 class="uk-margin-left uk-margin-top">Biscayne Elementary PTA</h2>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <% if user_signed_in? %>
            <li><%= link_to('All Members', teachers_path) %></li>
            <li><%= link_to('Teachers', teachers_path) %></li>
            <li><%= link_to('Students', students_path) %></li>
            <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <p><%= alert %></p>
    <%= yield %>
  </body>
</html>
