<!DOCTYPE html>
<html>
  <head>
    <title>PTAApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="uk-navbar-container" uk-navbar>
      <div class="uk-navbar-left">
        <h2 class="uk-margin-left uk-margin-top">Biscayne Elementary PTA</h2>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li><%= link_to('Teachers', teachers_path) %></li>
          <li><%= link_to('Students', students_path) %></li>
          <% if user_signed_in? %>
            <li>
              <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <p><%= alert %></p>
    <%= yield %>
  </body>
</html>
