<!DOCTYPE html>
<html>
  <head>
    <title>PTAApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="uk-navbar-container" uk-navbar>
      <div class="uk-navbar-left">PTA App</div>
      <div class="uk-navbar-right">
        <ul class="uk-list">
          <% if user_signed_in? %>
            <li class="uk-active">
              <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <p><%= alert %></p>
    <%= yield %>
  </body>
</html>
